@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
    background-color: rgb(243, 244, 246);
    font-family: Vazirmatn!important;
}

@layer components {
    .font-fa {
        font-family: Vazirmatn!important;
    }

    .btn-flex {
        @apply flex justify-center items-center gap-2;
    }
}

.rtl {
    direction: rtl!important;
}

.font-fa {
    font-family: Vazirmatn!important;
}
.movement-animation{
    animation: movement 4s ease-in-out infinite;
}
.vertical-movement{
    animation: vertical 4s ease-in infinite;
}
@keyframes movement {
    0%, 100%{ transform: rotate(-3deg) translate(3px) }
    50%{ transform: rotate(3deg) translate(-3px) }
}
@keyframes vertical {
    0%, 100%{ transform: translateY(3px)}
    50%{ transform: translateY(-3px)}
}